In [7]:
import pandas as pd
from prophet import Prophet
from pymongo import MongoClient
from prophet.plot import plot_plotly, plot_components_plotly
import os
import time

db = MongoClient(os.environ["DB_HOST"], int(os.environ["DB_PORT"]))
collection = 'covid_county_formatted'
cursor = db.sustaindb[collection].find()
df = pd.DataFrame(list(cursor))
df

,_id,date,county,state,fips,cumulative_cases,cumulative_deaths,cases,deaths,GISJOIN,formatted_date
0,605420df8dd202bf891eb048,2020-03-27,Autauga,Alabama,01001,6,0.0,0,0,G0100010,2020-03-27
1,605420df8dd202bf891eb049,2020-03-25,Autauga,Alabama,01001,4,0.0,3,0,G0100010,2020-03-25
2,605420df8dd202bf891eb04a,2020-03-28,Autauga,Alabama,01001,6,0.0,0,0,G0100010,2020-03-28
3,605420df8dd202bf891eb04b,2020-03-29,Autauga,Alabama,01001,6,0.0,0,0,G0100010,2020-03-29
4,605420df8dd202bf891eb04c,2020-03-30,Autauga,Alabama,01001,7,0.0,1,0,G0100010,2020-03-30
...,...,...,...,...,...,...,...,...,...,...,...
1064945,605420f18dd202bf892ef039,2021-02-24,St. Thomas,Virgin Islands,78030,1324,15.0,10,0,NaN,2021-02-24
1064946,605420f18dd202bf892ef03a,2021-03-04,St. Thomas,Virgin Islands,78030,1354,15.0,8,0,NaN,2021-03-04
1064947,605420f18dd202bf892ef03b,2021-03-07,St. Thomas,Virgin Islands,78030,1358,15.0,0,0,NaN,2021-03-07
1064948,605420f18dd202bf892ef03c,2021-03-05,St. Thomas,Virgin Islands,78030,1358,15.0,4,0,NaN,2021-03-05
1064949,605420f18dd202bf892ef03d,2021-03-06,St. Thomas,Virgin Islands,78030,1358,15.0,0,0,NaN,2021-03-06

In [12]:
import time

df_cases = df[["date", "GISJOIN", "cases"]].rename(columns = {
    'date': 'ds',
    'cases': 'y'
})

all_gis_joins = df_cases['GISJOIN'].unique()
print(f'#GISJOINs: {len(all_gis_joins)}')

all_dfs = []

count = 0
time1 = time.monotonic()
for gis_join in all_gis_joins:
    count += 1
    if count % 20 == 0:
        print(count, end=', ')
    all_dfs.append(df_cases.loc[df_cases['GISJOIN'] == gis_join])
    
print(f'Time to separate pandas dataframes by GISJOIN value: {time.monotonic() - time1}')
print(f'#Dataframes: {len(all_dfs)}')

#GISJOINs: 3116
20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300, 320, 340, 360, 380, 400, 420, 440, 460, 480, 500, 520, 540, 560, 580, 600, 620, 640, 660, 680, 700, 720, 740, 760, 780, 800, 820, 840, 860, 880, 900, 920, 940, 960, 980, 1000, 1020, 1040, 1060, 1080, 1100, 1120, 1140, 1160, 1180, 1200, 1220, 1240, 1260, 1280, 1300, 1320, 1340, 1360, 1380, 1400, 1420, 1440, 1460, 1480, 1500, 1520, 1540, 1560, 1580, 1600, 1620, 1640, 1660, 1680, 1700, 1720, 1740, 1760, 1780, 1800, 1820, 1840, 1860, 1880, 1900, 1920, 1940, 1960, 1980, 2000, 2020, 2040, 2060, 2080, 2100, 2120, 2140, 2160, 2180, 2200, 2220, 2240, 2260, 2280, 2300, 2320, 2340, 2360, 2380, 2400, 2420, 2440, 2460, 2480, 2500, 2520, 2540, 2560, 2580, 2600, 2620, 2640, 2660, 2680, 2700, 2720, 2740, 2760, 2780, 2800, 2820, 2840, 2860, 2880, 2900, 2920, 2940, 2960, 2980, 3000, 3020, 3040, 3060, 3080, 3100, Time to separate pandas dataframes by GISJOIN value: 229.87625111918896
#Dataframes: 3116

In [15]:
import pickle

f = open('pickles/all_dfs.pkl', 'wb')
time1 = time.monotonic()
pickle.dump(all_dfs, f)

print(f'Time to dump all_dfs to file: {time.monotonic() - time1}')

Time to dump all_dfs to file: 1.115097158588469

In [16]:
all_dfs_loaded = pickle.load(open('pickles/all_dfs.pkl', 'rb'))
all_dfs_loaded

[             ds   GISJOIN   y
 0    2020-03-27  G0100010   0
 1    2020-03-25  G0100010   3
 2    2020-03-28  G0100010   0
 3    2020-03-29  G0100010   0
 4    2020-03-30  G0100010   1
 ..          ...       ...  ..
 344  2021-03-06  G0100010  11
 345  2021-03-04  G0100010  11
 346  2021-03-07  G0100010   3
 377  2021-01-16  G0100010  51
 443  2021-01-26  G0100010  33

 [349 rows x 3 columns],
               ds   GISJOIN   y
 347   2020-03-15  G0100030   0
 348   2020-03-14  G0100030   1
 349   2020-03-16  G0100030   0
 350   2020-03-18  G0100030   0
 351   2020-03-17  G0100030   0
 ...          ...       ...  ..
 1203  2021-03-05  G0100030  17
 1204  2021-03-07  G0100030  20
 1205  2021-03-06  G0100030  25
 1206  2021-03-03  G0100030  66
 1208  2021-03-04  G0100030  17

 [359 rows x 3 columns],
               ds   GISJOIN   y
 500   2021-01-22  G0100050  15
 501   2021-01-23  G0100050  12
 502   2021-01-24  G0100050  22
 503   2021-01-20  G0100050  22
 504   2021-01-13  G0100050   6
 ...          ...       ...  ..
 1495  2021-01-17  G0100050   6
 1496  2021-01-18  G0100050   1
 1497  2021-01-19  G0100050   8
 1498  2020-12-29  G0100050  45
 1499  2021-01-21  G0100050  18

 [339 rows x 3 columns],
              ds   GISJOIN  y
 546  2020-03-30  G0100070  2
 547  2020-03-31  G0100070  1
 548  2020-04-02  G0100070  1
 549  2020-04-01  G0100070  0
 551  2020-04-03  G0100070  0
 ..          ...       ... ..
 885  2021-03-04  G0100070  2
 886  2021-03-06  G0100070  3
 887  2021-03-05  G0100070 -4
 889  2021-03-07  G0100070  5
 890  2021-02-28  G0100070  1

 [343 rows x 3 columns],
               ds   GISJOIN   y
 888   2020-03-25  G0100090   1
 891   2020-03-26  G0100090   2
 892   2020-03-30  G0100090   0
 893   2020-03-29  G0100090   0
 894   2020-03-31  G0100090   0
 ...          ...       ...  ..
 2233  2021-03-06  G0100090   6
 2234  2021-03-05  G0100090  10
 2235  2021-03-07  G0100090   4
 2242  2021-03-04  G0100090   7
 2243  2021-01-12  G0100090  54

 [348 rows x 3 columns],
               ds   GISJOIN  y
 1500  2020-12-14  G0100110  0
 1501  2020-12-15  G0100110  5
 1502  2020-12-16  G0100110  4
 1503  2020-12-12  G0100110  2
 1504  2020-12-18  G0100110  5
 ...          ...       ... ..
 2495  2020-12-08  G0100110  5
 2496  2020-12-09  G0100110  3
 2497  2020-12-13  G0100110  3
 2498  2020-12-10  G0100110  0
 2499  2020-12-11  G0100110  1

 [347 rows x 3 columns],
               ds   GISJOIN   y
 1583  2020-03-25  G0100130   1
 1584  2020-03-26  G0100130   0
 1585  2020-03-27  G0100130   0
 1586  2020-03-28  G0100130   0
 1587  2020-03-29  G0100130   0
 ...          ...       ...  ..
 1928  2021-03-03  G0100130  36
 1929  2021-03-04  G0100130   3
 1930  2021-03-05  G0100130   3
 1931  2021-03-06  G0100130  -3
 1932  2021-03-07  G0100130   2

 [348 rows x 3 columns],
               ds   GISJOIN    y
 1933  2020-03-21  G0100150    0
 1934  2020-03-22  G0100150    0
 1935  2020-03-19  G0100150    0
 1936  2020-03-20  G0100150    0
 1937  2020-03-23  G0100150    1
 ...          ...       ...  ...
 3283  2021-03-03  G0100150  448
 3284  2021-03-04  G0100150   77
 3285  2021-03-05  G0100150   69
 3288  2021-03-07  G0100150    2
 3289  2021-03-06  G0100150   60

 [355 rows x 3 columns],
               ds   GISJOIN   y
 2500  2020-10-11  G0100170   0
 2501  2020-10-20  G0100170  28
 2502  2020-10-21  G0100170  29
 2503  2020-10-22  G0100170   6
 2504  2020-10-23  G0100170   7
 ...          ...       ...  ..
 3495  2020-10-14  G0100170   2
 3496  2020-10-10  G0100170   4
 3497  2020-10-16  G0100170   3
 3498  2020-10-15  G0100170   4
 3499  2020-10-17  G0100170   3

 [354 rows x 3 columns],
               ds   GISJOIN  y
 2641  2020-03-25  G0100190  1
 2642  2020-03-26  G0100190  0
 2643  2020-03-28  G0100190  0
 2644  2020-03-27  G0100190  0
 2646  2020-03-29  G0100190  1
 ...          ...       ... ..
 2985  2021-02-24  G0100190  6
 2986  2021-03-06  G0100190  0
 2987  2021-03-07  G0100190  1
 2991  2021-02-25  G0100190  1
 2998  2021-03-04  G0100190  3

 [348 rows x 3 columns],
               ds   GISJOIN   y
 2988  2020-03-25  G0100210   1
 2989  2020-03-26  G0100210   3
 2990  2020-03-27  G0100210   3
 2992  2020-03-30  G0100210   2
 2993  2020-03-29  G0100210   1
 ...          ...       ...  ..
 3833  2021-03-04  G0100210   7
 3834  2021-03-05  G0100210   4
 3835  2021-03-06  G0100210   9
 3836  2021-03-07  G0100210  11
 3839  2021-02-27  G0100210   6

 [348 rows x 3 columns],
               ds   GISJOIN  y
 3837  2020-03-27  G0100230  0
 3838  2020-03-28  G0100230  0
 3840  2020-03-31  G0100230  1
 3841  2020-03-30  G0100230  1
 3842  2020-03-29  G0100230  0
 ...          ...       ... ..
 4180  2021-03-04  G0100230  2
 4181  2021-02-26  G0100230  1
 4182  2021-03-06  G0100230  3
 4183  2021-03-05  G0100230  1
 4190  2021-03-07  G0100230  4

 [347 rows x 3 columns],
               ds   GISJOIN  y
 4184  2020-04-02  G0100250  0
 4185  2020-04-01  G0100250  2
 4186  2020-04-04  G0100250  4
 4187  2020-04-03  G0100250  1
 4188  2020-04-05  G0100250  2
 ...          ...       ... ..
 6021  2021-03-06  G0100250  0
 6022  2021-03-01  G0100250  0
 6023  2021-03-02  G0100250  1
 6024  2021-03-03  G0100250  2
 6025  2021-03-07  G0100250  0

 [341 rows x 3 columns],
               ds   GISJOIN  y
 4500  2020-07-28  G0100290  4
 4501  2020-07-30  G0100290  1
 4502  2020-07-31  G0100290  1
 4503  2020-08-01  G0100290  2
 4504  2020-08-04  G0100290  0
 ...          ...       ... ..
 6495  2020-07-27  G0100290  6
 6496  2020-07-22  G0100290  2
 6497  2020-07-23  G0100290  2
 6498  2020-07-21  G0100290  0
 6499  2020-07-29  G0100290  4

 [348 rows x 3 columns],
               ds   GISJOIN  y
 4722  2020-04-02  G0100310  3
 4723  2020-04-03  G0100310  3
 4724  2020-04-07  G0100310  0
 4725  2020-04-08  G0100310  4
 4726  2020-04-09  G0100310  2
 ...          ...       ... ..
 6557  2021-02-28  G0100310  7
 6558  2021-02-27  G0100310  3
 6559  2021-03-06  G0100310 -7
 6560  2021-03-07  G0100310  0
 6564  2021-03-01  G0100310  4

 [340 rows x 3 columns],
               ds   GISJOIN  y
 5000  2020-05-21  G0100410  0
 5001  2020-05-23  G0100410  5
 5002  2020-05-24  G0100410  0
 5003  2020-05-25  G0100410  2
 5004  2020-05-26  G0100410  2
 ...          ...       ... ..
 7995  2020-05-17  G0100410  0
 7996  2020-05-18  G0100410  0
 7997  2020-05-19  G0100410  0
 7998  2020-05-22  G0100410  1
 7999  2020-05-20  G0100410 -1

 [347 rows x 3 columns],
               ds   GISJOIN   y
 5290  2020-03-20  G0100430   1
 5292  2020-03-21  G0100430   1
 5293  2020-03-22  G0100430   0
 5294  2020-03-23  G0100430   0
 5295  2020-03-25  G0100430   1
 ...          ...       ...  ..
 7139  2021-03-05  G0100430   7
 7140  2021-03-06  G0100430   2
 7143  2021-02-27  G0100430  12
 7148  2021-02-28  G0100430   0
 7155  2021-03-07  G0100430   7

 [353 rows x 3 columns],
               ds   GISJOIN   y
 5500  2020-07-01  G0100350   2
 5501  2020-07-02  G0100350   6
 5502  2020-07-03  G0100350  11
 5503  2020-07-04  G0100350   7
 5504  2020-07-07  G0100350   7
 ...          ...       ...  ..
 6995  2020-06-26  G0100350   6
 6996  2020-06-27  G0100350   4
 6997  2020-06-29  G0100350  13
 6998  2020-06-28  G0100350   0
 6999  2020-06-30  G0100350   2

 [341 rows x 3 columns],
               ds   GISJOIN  y
 5750  2020-03-26  G0100370  2
 5751  2020-03-27  G0100370  0
 5753  2020-03-28  G0100370  0
 5754  2020-03-29  G0100370  1
 5755  2020-03-30  G0100370  1
 ...          ...       ... ..
 7593  2021-02-28  G0100370  0
 7594  2021-03-05  G0100370  0
 7595  2021-02-26  G0100370  8
 7596  2021-03-06  G0100370  1
 7597  2021-03-07  G0100370  0

 [347 rows x 3 columns],
               ds   GISJOIN  y
 6026  2020-03-25  G0100270  1
 6027  2020-03-26  G0100270  0
 6028  2020-03-28  G0100270  1
 6029  2020-03-29  G0100270  0
 6030  2020-04-01  G0100270  1
 ...          ...       ... ..
 6369  2021-03-06  G0100270  2
 6370  2021-03-07  G0100270  0
 6371  2021-02-27  G0100270  4
 6378  2021-02-20  G0100270  7
 6402  2021-03-03  G0100270  5

 [348 rows x 3 columns],
               ds   GISJOIN  y
 6561  2020-03-25  G0100330  1
 6562  2020-03-26  G0100330  0
 6563  2020-03-27  G0100330  0
 6565  2020-03-30  G0100330  2
 6566  2020-03-31  G0100330  0
 ...          ...       ... ..
 6905  2021-03-01  G0100330  3
 6906  2021-02-28  G0100330  1
 6907  2021-02-27  G0100330 -4
 6908  2021-03-06  G0100330  3
 6909  2021-03-07  G0100330  3

 [348 rows x 3 columns],
               ds   GISJOIN  y
 7141  2020-04-01  G0100450  1
 7142  2020-04-02  G0100450  0
 7144  2020-04-03  G0100450  0
 7145  2020-04-04  G0100450  1
 7146  2020-04-05  G0100450  0
 ...          ...       ... ..
 7480  2021-03-06  G0100450  4
 7481  2021-03-05  G0100450  5
 7482  2021-03-07  G0100450  5
 7485  2021-03-01  G0100450  2
 7496  2021-03-02  G0100450  6

 [341 rows x 3 columns],
               ds   GISJOIN  y
 7483  2020-03-25  G0100470  2
 7484  2020-03-26  G0100470  0
 7486  2020-03-28  G0100470  0
 7487  2020-03-27  G0100470  0
 7488  2020-03-29  G0100470  0
 ...          ...       ... ..
 8328  2021-03-04  G0100470  3
 8329  2021-02-25  G0100470  1
 8330  2021-03-06  G0100470  6
 8331  2021-03-07  G0100470  0
 8335  2021-02-27  G0100470  4

 [348 rows x 3 columns],
               ds   GISJOIN   y
 7598  2020-03-27  G0100390   2
 7599  2020-03-28  G0100390   0
 7600  2020-04-01  G0100390   1
 7601  2020-04-02  G0100390   0
 7602  2020-03-29  G0100390   0
 ...          ...       ...  ..
 7939  2021-03-03  G0100390  19
 7940  2021-03-04  G0100390   4
 7941  2021-03-07  G0100390   3
 7943  2021-03-05  G0100390   5
 7949  2021-03-06  G0100390  -2

 [346 rows x 3 columns],
               ds   GISJOIN   y
 8332  2020-03-27  G0100490   3
 8333  2020-03-26  G0100490   1
 8334  2020-03-29  G0100490   0
 8336  2020-03-30  G0100490   0
 8337  2020-03-31  G0100490   0
 ...          ...       ...  ..
 8675  2021-03-06  G0100490   0
 8676  2021-03-07  G0100490   2
 8677  2021-03-02  G0100490   6
 8678  2021-03-03  G0100490  21
 8679  2021-03-01  G0100490  13

 [347 rows x 3 columns],
                ds   GISJOIN   y
 8680   2020-03-13  G0100510   1
 8681   2020-03-14  G0100510   0
 8682   2020-03-15  G0100510   0
 8683   2020-03-16  G0100510   0
 8684   2020-03-17  G0100510   1
 ...           ...       ...  ..
 10035  2021-03-06  G0100510  10
 10036  2021-03-07  G0100510   6
 10038  2021-03-03  G0100510  43
 10039  2021-03-04  G0100510  32
 10041  2021-03-02  G0100510  23

 [360 rows x 3 columns],
                ds   GISJOIN   y
 9000   2020-11-24  G0100630  11
 9001   2020-11-26  G0100630   9
 9002   2020-11-27  G0100630   1
 9003   2020-11-28  G0100630   2
 9004   2020-11-29  G0100630   1
 ...           ...       ...  ..
 10995  2020-11-21  G0100630   2
 10996  2020-11-22  G0100630   3
 10997  2020-11-16  G0100630   2
 10998  2020-11-23  G0100630   3
 10999  2020-11-25  G0100630   1

 [346 rows x 3 columns],
               ds   GISJOIN  y
 9101  2020-03-31  G0100650  0
 9102  2020-03-30  G0100650  1
 9104  2020-04-02  G0100650  0
 9105  2020-04-03  G0100650  2
 9106  2020-04-05  G0100650  0
 ...          ...       ... ..
 9441  2021-03-04  G0100650  3
 9442  2021-03-05  G0100650  0
 9443  2021-03-07  G0100650  4
 9444  2021-03-06  G0100650  3
 9482  2021-02-21  G0100650  3

 [343 rows x 3 columns],
                ds   GISJOIN  y
 9445   2020-04-03  G0100670  2
 9446   2020-04-06  G0100670  1
 9447   2020-04-04  G0100670  0
 9448   2020-04-05  G0100670  1
 9449   2020-04-07  G0100670  0
 ...           ...       ... ..
 11280  2021-03-06  G0100670 -1
 11281  2021-03-03  G0100670  3
 11282  2021-03-07  G0100670  2
 11283  2021-03-05  G0100670  1
 11288  2021-03-04  G0100670  6

 [339 rows x 3 columns],
                ds   GISJOIN   y
 9500   2020-12-19  G0100570  23
 9501   2020-12-22  G0100570  11
 9502   2020-12-23  G0100570   9
 9503   2020-12-24  G0100570  28
 9504   2020-12-25  G0100570  13
 ...           ...       ...  ..
 11995  2020-12-15  G0100570  23
 11996  2020-12-20  G0100570   9
 11997  2020-12-21  G0100570  10
 11998  2020-12-18  G0100570  25
 11999  2020-12-17  G0100570  29

 [343 rows x 3 columns],
               ds   GISJOIN   y
 9576  2020-03-23  G0100590   1
 9577  2020-03-25  G0100590   1
 9578  2020-03-24  G0100590   0
 9579  2020-03-26  G0100590   1
 9581  2020-03-28  G0100590   0
 ...          ...       ...  ..
 9922  2021-03-06  G0100590   7
 9923  2021-03-07  G0100590   1
 9924  2021-03-04  G0100590   1
 9941  2021-02-14  G0100590   2
 9942  2021-02-26  G0100590  10

 [350 rows x 3 columns],
                ds   GISJOIN  y
 9925   2020-04-13  G0100610  0
 9926   2020-04-14  G0100610  0
 9927   2020-04-15  G0100610  1
 9928   2020-04-16  G0100610  0
 9929   2020-04-17  G0100610  0
 ...           ...       ... ..
 10752  2021-03-03  G0100610  0
 10753  2021-03-05  G0100610  2
 10754  2021-03-04  G0100610  1
 10755  2021-03-06  G0100610 -3
 10758  2021-03-07  G0100610  4

 [330 rows x 3 columns],
                ds   GISJOIN  y
 10037  2020-03-27  G0100530  1
 10040  2020-03-28  G0100530  0
 10042  2020-03-30  G0100530  0
 10043  2020-03-29  G0100530  0
 10044  2020-03-31  G0100530  0
 ...           ...       ... ..
 10381  2021-03-03  G0100530  6
 10382  2021-03-04  G0100530  4
 10383  2021-03-05  G0100530  1
 10384  2021-03-07  G0100530  1
 10385  2021-03-06  G0100530  2

 [346 rows x 3 columns],
                ds   GISJOIN   y
 10386  2020-03-25  G0100550   3
 10387  2020-03-28  G0100550   1
 10388  2020-03-30  G0100550   0
 10389  2020-03-26  G0100550   1
 10390  2020-03-29  G0100550   0
 ...           ...       ...  ..
 11729  2021-03-04  G0100550  11
 11730  2021-03-05  G0100550  17
 11731  2021-02-27  G0100550   9
 11732  2021-03-07  G0100550   6
 11738  2021-03-06  G0100550   6

 [348 rows x 3 columns],
                ds   GISJOIN   y
 11284  2020-03-24  G0100690   0
 11285  2020-03-23  G0100690   1
 11286  2020-03-25  G0100690   1
 11287  2020-03-26  G0100690   1
 11289  2020-03-27  G0100690   1
 ...           ...       ...  ..
 12130  2021-03-03  G0100690   8
 12131  2021-03-04  G0100690  14
 12132  2021-03-06  G0100690  -9
 12133  2021-02-28  G0100690  13
 12135  2021-03-07  G0100690   9

 [350 rows x 3 columns],
                ds   GISJOIN   y
 12134  2020-03-22  G0100710   0
 12136  2020-03-20  G0100710   1
 12137  2020-03-23  G0100710   0
 12138  2020-03-26  G0100710   2
 12139  2020-03-24  G0100710   1
 ...           ...       ...  ..
 12483  2021-03-03  G0100710  39
 12484  2021-03-04  G0100710   3
 12485  2021-03-05  G0100710   6
 12486  2021-03-07  G0100710   1
 12487  2021-03-06  G0100710   0

 [353 rows x 3 columns],
                ds   GISJOIN    y
 12488  2020-03-15  G0100730    7
 12489  2020-03-14  G0100730    4
 12490  2020-03-17  G0100730    4
 12491  2020-03-16  G0100730    4
 12492  2020-03-19  G0100730    9
 ...           ...       ...  ...
 12843  2021-03-03  G0100730  255
 12844  2021-03-04  G0100730  271
 12845  2021-03-05  G0100730  241
 12850  2021-03-07  G0100730   38
 12851  2021-03-06  G0100730   83

 [360 rows x 3 columns],
                ds   GISJOIN  y
 12846  2020-03-21  G0100750  0
 12847  2020-03-22  G0100750  0
 12848  2020-03-23  G0100750  0
 12849  2020-03-24  G0100750  0
 12852  2020-03-20  G0100750  1
 ...           ...       ... ..
 13696  2021-03-05  G0100750  2
 13697  2021-03-04  G0100750  0
 13698  2021-03-07  G0100750  0
 13699  2021-03-06  G0100750  0
 13700  2021-03-01  G0100750  0

 [353 rows x 3 columns],
                ds   GISJOIN  y
 13000  2020-05-02  G0100870  1
 13001  2020-05-03  G0100870  2
 13002  2020-05-04  G0100870  0
 13003  2020-05-05  G0100870  1
 13004  2020-04-27  G0100870  0
 ...           ...       ... ..
 15495  2020-04-19  G0100870  1
 15496  2020-04-29  G0100870  1
 15497  2020-04-30  G0100870  1
 15498  2020-04-28  G0100870  1
 15499  2020-05-01  G0100870  0

 [344 rows x 3 columns],
                ds   GISJOIN   y
 13309  2020-03-17  G0100890   1
 13310  2020-03-18  G0100890   0
 13311  2020-03-19  G0100890   4
 13312  2020-03-20  G0100890   2
 13313  2020-03-21  G0100890   2
 ...           ...       ...  ..
 14662  2021-03-05  G0100890  23
 14663  2021-03-06  G0100890  35
 14664  2021-03-07  G0100890  34
 14665  2021-02-28  G0100890  50
 14673  2021-02-27  G0100890  48

 [356 rows x 3 columns],
                ds   GISJOIN   y
 13701  2020-03-20  G0100770   1
 13702  2020-03-22  G0100770   0
 13703  2020-03-24  G0100770   0
 13704  2020-03-25  G0100770   4
 13705  2020-03-26  G0100770   2
 ...           ...       ...  ..
 15549  2021-03-02  G0100770  -6
 15550  2021-03-04  G0100770   2
 15554  2021-03-07  G0100770   2
 15555  2021-03-05  G0100770   6
 15556  2021-03-06  G0100770  10

 [353 rows x 3 columns],
                ds   GISJOIN   y
 14000  2020-06-24  G0100810  59
 14001  2020-06-25  G0100810  44
 14002  2020-06-19  G0100810  27
 14003  2020-06-18  G0100810  31
 14004  2020-06-26  G0100810  25
 ...           ...       ...  ..
 15995  2020-06-16  G0100810  29
 15996  2020-06-20  G0100810  14
 15997  2020-06-21  G0100810  11
 15998  2020-06-22  G0100810  29
 15999  2020-06-23  G0100810  36

 [358 rows x 3 columns],
                ds   GISJOIN  y
 14258  2020-03-13  G0100830  1
 14261  2020-03-14  G0100830  0
 14262  2020-03-16  G0100830  0
 14263  2020-03-15  G0100830  0
 14264  2020-03-17  G0100830  0
 ...           ...       ... ..
 15115  2021-03-06  G0100830  6
 15116  2021-03-05  G0100830  9
 15117  2021-03-07  G0100830  5
 15124  2021-03-01  G0100830  4
 15126  2021-02-27  G0100830  5

 [360 rows x 3 columns],
                ds   GISJOIN   y
 14666  2020-03-27  G0100910   1
 14667  2020-03-26  G0100910   1
 14668  2020-03-29  G0100910   2
 14669  2020-03-28  G0100910   1
 14670  2020-03-30  G0100910  -1
 ...           ...       ...  ..
 16009  2021-03-05  G0100910  42
 16010  2021-03-06  G0100910  16
 16011  2021-03-07  G0100910   7
 16012  2021-01-24  G0100910  11
 16019  2021-02-23  G0100910  49

 [347 rows x 3 columns],
                ds   GISJOIN   y
 15118  2020-03-27  G0100850   0
 15119  2020-03-28  G0100850   0
 15120  2020-03-26  G0100850   1
 15121  2020-03-29  G0100850   0
 15122  2020-03-31  G0100850   0
 ...           ...       ...  ..
 15462  2021-03-03  G0100850  13
 15463  2021-03-07  G0100850   0
 15464  2021-03-04  G0100850   2
 15470  2021-03-06  G0100850   3
 15471  2021-03-05  G0100850   1

 [347 rows x 3 columns],
                ds   GISJOIN   y
 15551  2020-03-25  G0100790   1
 15552  2020-03-26  G0100790   2
 15553  2020-03-27  G0100790   0
 15557  2020-03-28  G0100790   0
 15558  2020-03-29  G0100790   0
 ...           ...       ...  ..
 15897  2021-03-06  G0100790   4
 15898  2021-03-07  G0100790   5
 15899  2021-03-04  G0100790   3
 15900  2021-03-05  G0100790   4
 15901  2021-03-03  G0100790  10

 [348 rows x 3 columns],
                ds   GISJOIN  y
 16013  2020-03-23  G0100930  0
 16014  2020-03-22  G0100930  0
 16015  2020-03-24  G0100930  0
 16016  2020-03-25  G0100930  2
 16017  2020-03-26  G0100930  4
 ...           ...       ... ..
 16361  2021-02-28  G0100930  2
 16362  2021-03-07  G0100930  2
 16363  2021-03-06  G0100930  2
 16365  2021-03-01  G0100930  1
 16368  2021-02-27  G0100930  4

 [352 rows x 3 columns],
 Empty DataFrame
 Columns: [ds, GISJOIN, y]
 Index: [],
                ds   GISJOIN    y
 16712  2020-03-19  G0100970    1
 16713  2020-03-21  G0100970    0
 16714  2020-03-20  G0100970    1
 16715  2020-03-22  G0100970    0
 16716  2020-03-24  G0100970    4
 ...           ...       ...  ...
 17063  2021-02-09  G0100970  110
 17064  2021-03-06  G0100970   68
 17065  2021-03-07  G0100970   27
 17070  2021-03-05  G0100970   34
 17096  2021-02-13  G0100970  117

 [354 rows x 3 columns],
                ds   GISJOIN  y
 17066  2020-03-28  G0100990  1
 17067  2020-03-29  G0100990  0
 17068  2020-03-30  G0100990  0
 17069  2020-03-31  G0100990  0
 17071  2020-04-02  G0100990  0
 ...           ...       ... ..

In [20]:
all_dfs[0]

             ds   GISJOIN   y
0    2020-03-27  G0100010   0
1    2020-03-25  G0100010   3
2    2020-03-28  G0100010   0
3    2020-03-29  G0100010   0
4    2020-03-30  G0100010   1
..          ...       ...  ..
344  2021-03-06  G0100010  11
345  2021-03-04  G0100010  11
346  2021-03-07  G0100010   3
377  2021-01-16  G0100010  51
443  2021-01-26  G0100010  33

[349 rows x 3 columns]

In [25]:
# model = Prophet(
#     interval_width=0.95,
#     growth='linear',
#     daily_seasonality=False,
#     weekly_seasonality=True,
#     yearly_seasonality=True,
#     seasonality_mode='multiplicative'
# )

# model.fit(df0)

def predict(df_train):
    m = Prophet(
        daily_seasonality=True,
        weekly_seasonality=True,
        yearly_seasonality=True
    )
    m.fit(df_train)
    df_train_future = m.make_future_dataframe(periods=365)
    df_train_forecast = m.predict(df0_future)

    return df_train_forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [27]:
all_results = []

count = 0
time1 = time.monotonic()
for df in all_dfs:
    count += 1
    if count % 5 == 0:
        print(count, end=', ')
    result = predict(df)
    all_results.append(result)
    
print(f'Time to train all dfs: {time.monotonic() - time1}')
print(f'#Result Dataframes: {len(all_results)}')

5, 10, 15, 20, 25, 30, 35, 40, 45,

ValueError: Dataframe has less than 2 non-NaN rows.

In [26]:
# m.plot_components(df0_forecast)

In [25]:
# import plotly.graph_objs as go
# plot_plotly(m, df0_forecast)

In [31]:
from pyspark.sql.functions import pandas_udf, PandasUDFType
from pyspark.sql.types import *


result_schema = StructType([
    StructField("ds", DateType(), True),
    StructField("yhat", DoubleType(), True),
    StructField("yhat_lower", DoubleType(), True),
    StructField("yhat_upper", DoubleType(), True)
])

@pandas_udf(result_schema, PandasUDFType.GROUPED_MAP)
def forecast_store_item(history_pd):

    # instantiate the model, configure the parameters
    model = Prophet()

    # fit the model
    model.fit(history_pd)

    # configure predictions
    future_pd = model.make_future_dataframe(
        periods=90,
        freq='d',
        include_history=True
    )

    # make predictions
    results_pd = model.predict(future_pd)

    # . . .

    # return predictions
    return results_pd

In [32]:
result_schema = StructType([
    StructField("ds", DateType(), True),
    StructField("yhat", DoubleType(), True),
    StructField("yhat_lower", DoubleType(), True),
    StructField("yhat_upper", DoubleType(), True)
])

@pandas_udf(result_schema, PandasUDFType.GROUPED_MAP)
def temp(history_pd):

    # instantiate the model, configure the parameters
    m = Prophet()
    m.fit(df0)
    df0_future = m.make_future_dataframe(periods=365)
    df0_forecast = m.predict(df0_future)

    return df0_forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']]

In [44]:
# df0 = df0[["ds", "y"]]
# df0.set_index('ds')
# temp(df0[["ds", "GISJOIN", "y", "deaths"]])
# df0

# results = (
#     df.groupBy('GISJOIN')
#     .apply(temp)
# )
# df0_ = df0.withColumn('GISJOIN', lit(None))

# from pyspark.sql import SparkSession

# spark = SparkSession \
#     .builder\
#     .master('local')\
#     .config('spark.mongodb.input.uri', 'mongodb://localhost:27017/sustaindb.covid_county_formatted')\
#     .getOrCreate()

# spark_df = spark.read.format("mongo").option("uri",
#     "mongodb://localhost/sustaindb.covid_county_formatted").load()
# spark_df
#     .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1.jar')\

# spark.sparkContext.addPyFile('./jars/mongo-spark-connector_2.12-3.0.1.jar')
# spark.sparkContext.addPyFile('./jars/spark-core_2.12-3.0.1.jar')
# spark.sparkContext.addPyFile('./jars/spark-sql_2.12-3.0.1.jar')
# spark.sparkContext.addPyFile('./jars/spark-mllib_2.12-3.0.1.jar')
# spark.sparkContext.addPyFile('./jars/bson-4.0.5.jar')
# spark.sparkContext.addPyFile('./jars/mongo-java-driver-3.12.5.jar')

# df1 = spark.read.format('com.mongodb.spark.sql.DefaultSource')\
#             .option('database', 'sustaindb')\
#             .option('collection', 'covid_county_formatted')\
#             .load()

df = spark.read.format('json').load('./covid_county.json')

In [45]:
df = df.select('GISJOIN', 'cases', 'deaths', 'date', 'formatted_date')
df.show()

+--------+-----+------+----------+--------------------+
| GISJOIN|cases|deaths|      date|      formatted_date|
+--------+-----+------+----------+--------------------+
|G0100010|    3|     0|2020-03-25|[2020-03-25T00:00...|
|G0100010|    0|     0|2020-03-28|[2020-03-28T00:00...|
|G0100010|    0|     0|2020-03-29|[2020-03-29T00:00...|
|G0100010|    1|     0|2020-03-30|[2020-03-30T00:00...|
|G0100010|    0|     0|2020-03-31|[2020-03-31T00:00...|
|G0100010|    3|     0|2020-04-01|[2020-04-01T00:00...|
|G0100010|    0|     0|2020-04-04|[2020-04-04T00:00...|
|G0100010|    0|     0|2020-04-05|[2020-04-05T00:00...|
|G0100010|    0|     1|2020-04-06|[2020-04-06T00:00...|
|G0100010|    0|     0|2020-04-02|[2020-04-02T00:00...|
|G0100010|    0|     0|2020-04-07|[2020-04-07T00:00...|
|G0100010|    0|     0|2020-04-08|[2020-04-08T00:00...|
|G0100010|    5|     0|2020-04-09|[2020-04-09T00:00...|
|G0100010|    0|     0|2020-04-10|[2020-04-10T00:00...|
|G0100010|    2|     0|2020-04-11|[2020-04-11T00:00...|
|G0100010|    0|     0|2020-04-12|[2020-04-12T00:00...|
|G0100010|    0|     0|2020-04-13|[2020-04-13T00:00...|
|G0100010|   16|     0|2020-09-15|[2020-09-15T00:00...|
|G0100010|   18|     0|2020-09-16|[2020-09-16T00:00...|
|G0100010|    5|     0|2020-09-17|[2020-09-17T00:00...|
+--------+-----+------+----------+--------------------+
only showing top 20 rows

In [46]:
# df0 = df0.rename(columns = {
#     'date': 'ds',
#     'cases': 'y'
# })
df_cases = df.select('GISJOIN', 'date', 'cases').withColumnRenamed('date', 'ds').withColumnRenamed('cases', 'y')
# df_cases.show()

results = (
    df_cases.groupBy('GISJOIN')
    .apply(temp)
)
results.toPandas()

Py4JJavaError: An error occurred while calling o530.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 25.0 failed 1 times, most recent failure: Lost task 0.0 in stage 25.0 (TID 44, 10.253.202.195, executor driver): java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at io.netty.util.internal.PlatformDependent.directBuffer(PlatformDependent.java:490)
	at io.netty.buffer.NettyArrowBuf.getDirectBuffer(NettyArrowBuf.java:243)
	at io.netty.buffer.NettyArrowBuf.nioBuffer(NettyArrowBuf.java:233)
	at io.netty.buffer.ArrowBuf.nioBuffer(ArrowBuf.java:245)
	at org.apache.arrow.vector.ipc.message.ArrowRecordBatch.computeBodyLength(ArrowRecordBatch.java:222)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:240)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:132)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:120)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.$anonfun$writeIteratorToStream$1(ArrowPythonRunner.scala:94)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.writeIteratorToStream(ArrowPythonRunner.scala:101)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:383)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1932)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:218)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2008)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2007)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2007)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:973)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:973)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2239)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2188)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2177)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:775)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2099)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2120)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2139)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2164)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1004)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:388)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1003)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:385)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3450)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3618)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:764)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3616)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3447)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.UnsupportedOperationException: sun.misc.Unsafe or java.nio.DirectByteBuffer.<init>(long, int) not available
	at io.netty.util.internal.PlatformDependent.directBuffer(PlatformDependent.java:490)
	at io.netty.buffer.NettyArrowBuf.getDirectBuffer(NettyArrowBuf.java:243)
	at io.netty.buffer.NettyArrowBuf.nioBuffer(NettyArrowBuf.java:233)
	at io.netty.buffer.ArrowBuf.nioBuffer(ArrowBuf.java:245)
	at org.apache.arrow.vector.ipc.message.ArrowRecordBatch.computeBodyLength(ArrowRecordBatch.java:222)
	at org.apache.arrow.vector.ipc.message.MessageSerializer.serialize(MessageSerializer.java:240)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeRecordBatch(ArrowWriter.java:132)
	at org.apache.arrow.vector.ipc.ArrowWriter.writeBatch(ArrowWriter.java:120)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.$anonfun$writeIteratorToStream$1(ArrowPythonRunner.scala:94)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.sql.execution.python.ArrowPythonRunner$$anon$1.writeIteratorToStream(ArrowPythonRunner.scala:101)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.$anonfun$run$1(PythonRunner.scala:383)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1932)
	at org.apache.spark.api.python.BasePythonRunner$WriterThread.run(PythonRunner.scala:218)

In [3]:
 from pyspark.sql import SparkSession 

 spark = SparkSession.builder.master("spark://lattice-100:8079").getOrCreate() 
 print(spark.sparkContext.version)

3.0.1